<template>
  <ag-grid-vue style="width: 100%; height: 500px;"
               class="ag-theme-balham"
               :columnDefs="columnDefs"
               :rowData="rowData">
  </ag-grid-vue>
</template>

<script>

    import "ag-grid-community/dist/styles/ag-grid.css";
    import "ag-grid-community/dist/styles/ag-theme-balham-dark.css";
    import {AgGridVue} from "ag-grid-vue";

    export default {
        name: "Datatable",
        data() {
            return {
                columnDefs: null,
                rowData: null
            }
        },
        components: {
            AgGridVue
        },
        beforeMount() {
            this.columnDefs = [
                {
                    headerName: 'Make',
                    field: 'make'
                },
                {
                    headerName: 'Model',
                    field: 'model'
                },
                {
                    headerName: 'Price',
                    field: 'price'
                }
            ];

            this.rowData = [
                {make: 'Toyota', model: 'Celtica', price: 35000},
                {make: 'Ford', model: 'Mondeo', price: 32000},
                {model: 'Porsche', model: 'Boxter', price: 72000}
            ];
        }
    }
</script>

<style scoped>

</style>
