BODY {
    margin: 0px;
    padding: 0px;
}

.parent {
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.child {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: yellow;
    text-align: center;
    display:
}
