<template>
  <div>
    Test
    <ag-grid-vue style="width: 100%; height: 300px;"
      class="ag-theme-fresh"
               :columnDefs="columnDefs"
               :rowData="rowData">
    </ag-grid-vue>
  </div>
</template>
<script>

  import { AgGridVue } from 'ag-grid-vue';

export default {
  name: 'DataTable',
  data() {
    return {
      columnDefs: null,
      rowData: null
    }
  },
  components: {
    AgGridVue
  },
  beforeMount() {
    this.columnDefs = [
      { headerName: 'Make',  field: 'make',  editable: true, sortable: true, filter: true },
      { headerName: 'Model', field: 'model', editable: true, sortable: true, filter: true },
      { headerName: 'Price', field: 'price', editable: true, sortable: true, filter: true }
    ];

    this.rowData = [
      { make: 'Toyota', model: 'Celica', price: 35000 },
      { make: 'Ford', model: 'Mondeo', price: 32000 },
      { make: 'Porsche', model: 'Boxter', price: 72000 }
    ];
  }
}
</script>
<style scoped>
</style>
