<template>
    <div>
        <span>It works</span>
        <button type="button" class="btn btn-primary">Click me</button>
        <Todos></Todos>
    </div>
</template>

<script>
    import Todos from "./Todos";

    export default {
        name: 'App',
        components: {
            'Todos': Todos
        },
        data: function () {
            return {}
        },
        mounted: function () {
            console.log('Hello World');
        }
    }
</script>

<style scoped>

</style>
