<template>
    <div>
        <div id="todos-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Todos error</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Cannot fetch todos data. Please try later...</p>
                    </div>
                    <div class="modal-footer">
                        <button id="todos-btn-ok" type="button" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-group">
            <div v-for="todo in todos" class="list-group-item flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ todo.deadline }}</h5>
                    <small>{{ todo.status }}</small>
                </div>
                <span>{{ todo.description }}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import $ from 'jquery';

    export default {
        name: 'Todos',
        data: function () {
            return {
                todos: []
            }
        },
        mounted() {

            $("#todos-btn-ok").click(() => {
                $("#todos-modal").modal('hide');
            });

            axios.get('/api/todos/index')
                .then(result => {
                    this.todos = result.data;
                }).catch(e => {
                $('#todos-modal').modal({
                    keyboard: false,
                    focus: true
                });
                console.log(e);
            });
        }
    }
</script>

<style scoped>

</style>