<template>
    <div>
        <h3>Some words about me</h3>
        <p>
            My name is Tomasz Półgrabia. I am java developer for 5+ years who is also interested in modern frontend,
            new java technologies, AI and distributed calculation. Right now you're on my blog which will be dedicated
            to these topics.
        </p>
        <p>
            During my whole career I have worked for 2 companies having projects for public administration, then
            I started working in the banking industry.
        </p>
    </div>
</template>
<script>
    export default {
        name: 'Aboutme',
        data: function() {
            return {

            }
        }
    }
</script>
<style scoped>

</style>