<template>
    <div class="container">

        <h3 style="text-align: center">Login to my blog</h3>

        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Provide username" v-model="username"/>
                <span class="icon is-left is-small"><i class="fa fa-user"></i></span>
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
                <input class="input" type="password" placeholder="Provide password" v-model="password"/>
                <span class="icon is-left is-small"><i class="fa fa-user-secret"></i></span>
            </div>
        </div>

        <div class="field is-grouped-right">
            <div class="control">
                <button class="button is-link" v-on:click="login">Login</button>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        name: 'Login',
        data: function () {
            return {
                username: "",
                password: ""
            }
        },
        methods: {
            login: function (event) {
                console.log(`User: ${this.username}, password: ${this.password}`);
                var fd = new FormData();
                fd.append("username", this.username);
                fd.append("password", this.password);
                fetch('/api/login', {
                    method: 'POST',
                    body: fd
                }).then(resp => {
                    if (resp.status === 200) {
                        this.$store.commit('login', {
                            username: this.username
                        });
                        this.$router.push('/');
                    } else {
                        console.log(`Got response ${resp.status} - ${resp.statusText}`);
                    }
                }).catch(e => {
                    console.error(`Got error ${e}`);
                });
            }
        }
    }
</script>
<style scoped>

</style>