<template>
    <div></div>
</template>
<script>
    export default {
        name: 'Logou',
        mounted() {
            fetch('/api/logout')
                .then(resp => {
                    this.$store.commit('logout');
                    this.$router.push('/login');
                })
                .catch(e => {
                    console.log(`Error ${e}`)
                });
        }
    }
</script>