<template>
    <div>
        Welcome home

        <ul>
            <li v-for="entry in news">{{ entry.subject }}</li>
        </ul>
    </div>
</template>
<script>

    export default {
        name: "News",
        data: function () {
            return {
                news: []
            }
        },
        methods: {},
        mounted() {
            console.log('Fetching news...');
            fetch('/api/news/').then(resp => {

                if (resp.status === 200) {
                    resp.json().then(data => {
                        this.news = data;
                    }).catch(e => {
                        console.error(`Error happened while processing json response ${e}`);
                    });
                } else if (resp.status === 401) {
                    console.log("Not authorized. Redirecting to login page");
                    this.$store.commit('logout');
                    this.$router.push('/login');
                } else {
                    console.log(`Response status code: ${resp.status}, description: ${resp.statusText}`);
                }
            }).catch(e => {
                console.log(`Got error ${e}`);
            });
        }
    }
</script>
<style scoped>

</style>