<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Todos Page</title>
</head>
<body>
    <ul>
        <li th:each="todo: ${todos}"><span th:text="${todo.description}">Input here</span></li>
    </ul>
</body>
</html>