<template>
    <div>
        <span v-bind:style="{ color: this.toggled ? 'red' : 'black' }">{{ message }}</span>
        <button type="button" v-on:click="clicked">Click me</button>
    </div>
</template>

<script>
    export default {
        name: 'App',
        data: function () {
            return {
                message: 'Hello, it\'s loaded',
                todos: [],
                toggled: false,
            }
        },
        methods: {
            clicked: function(event) {
                this.toggled = !this.toggled;
            }
        },
        mounted: function () {
            console.log(`Hello World - context path ${this.$ctx}`);
        }
    };
</script>

<style scoped>
    html, body {
        margin: 0;
        padding: 0;
    }
</style>
