<template>
    <div>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand">Tomasz Półgrabia</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container p-2">
            <h3>All todo tasks below</h3>
            <ol class="list-group">
                <li class="list-group-item" v-for="todo in todos" v-bind:key="todo._id">{{ todo.description }}</li>
            </ol>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'HelloWorld',
        data: function () {
            return ({
                todos: []
            })
        },
        mounted: function () {
            fetch('/api/todos')
                .then(e => e.json())
                .then(data => this.todos = data.todos);
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
